@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
   font-family: "Pixelify Sans", sans-serif;
}
body {
  background-image: url("public/background3.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.title {
  font-size: 40px;
  color: white;
  font-family: "Pixelify Sans", sans-serif;
  padding: 20px;

  font-style: normal;
  display: flex;
  justify-content: center;
  text-align: center;
}
.timer-container {
  display: flex;
  flex-direction: column;
  gap: 100px;

  justify-content: center;
  align-items: center;
  height: 80%;
  color: white;
  
}
.timer {
 
  font-size: 100px;
}
.controller
{
    display: flex;
    gap: 30px;
}
.controller button
{
    padding: 10px 20px;
    width: 100px;
    cursor: pointer;
    color: purple;
    background-color: rgb(236, 202, 236);
    border-color: purple;
    
}
.controller button:active
{
    transform: translateY(2px) scale(0.9);

}